@font-face {
    font-family: 'GothaProReg' ;
    src: url('../fonts/GothaProReg.otf');
}

body {
    font-family: 'GothaProReg';
}

img {
    max-width: 100%;
}

input,
textarea,
button,
select {
    outline: none;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 70px;
    z-index: 100;
}

.menu-left {
    height: 100vh;
    width: 360px;
    background-color: #07325b;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    padding: 40px 40px 155px 40px;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu-left a {
    color: #fff;
}

.menu-left ul {
    padding: 0;
    margin-top: 40px;
}

.menu-left ul li {
    list-style: none;
    font-size: 22px;
    font-weight: 300;
    margin: 10px 0 15px;
}

.menu-left ul li a {
    color: #fff;
}

.menu-left ul li.active a,
.menu-left ul li a:focus,
.menu-left ul li a:hover {
    color: #2579bf;
}

.footer-number {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.footer-number span {
    display: block;
    font-size: 16px;
}

.copy-right {
    font-size: 13px;
}

.footer-bottom {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.icon-menu {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/menu.png") no-repeat center/22px;
    margin-right: 20px;
}
.white-box .icon-menu{
    background: url("../images/icons/grey-menu.png") no-repeat center/22px;
}
.menu-toggle {
    cursor: pointer;
}

.list-phone-number {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 15px 10px;
    margin: 10px 0 0;
    display: none;
    text-align: right;
    position: absolute;
    right: 0;
    top:100%;
    width: 100%;
    min-width: 160px;
}
.right-hed{
    position: relative;
}
.list-phone-number a {
    color: #fff;
}

.div-view {
    transform: translateX(0);
}

.ic-whatsapp {
    background: url("../images/icons/ic-whatsapp.png") no-repeat center/28px;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.phone-number {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.list-phone-number > div {
    margin-bottom: 5px;
}

.ic-cancel {
    background: url("../images/icons/cancel.png") no-repeat center/16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.item-box {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 0 25px;
}

.main-title {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 35px;
}

.main-title span {
    padding: 0 30px 25px 30px;
    border-bottom: 3px solid #2579bf;
    display: inline-block;
}

.top-box {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 70px;
    color: #fff;

}

.in-box {
    display: table;
    max-width: 740px;
    height: calc(100vh - 40px);
    margin: 0 auto;
}

.text-boxes {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.main-slid .slick-prev,
.main-slid .slick-next {
    z-index: 100;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.main-slid .slick-prev:before {
    content: url("../images/icons/left-arrow.png");
    opacity: 1;
}

.main-slid .slick-prev {
    left: 20px;

}
.main-slid .slick-next:before {
    content: url("../images/icons/right-arrow.png");
    opacity: 1;
}
.main-slid .slick-next {
    right: 20px;
}
.page-big .top-box{
    font-size: 24px;
}
.page-big .top-box h1{
    font-size: 60px;
}
.arrows-link-r{
    position: absolute;
    top:50%;
    right:20px;
    transform: translate(0, -50%);
    width: 50px;
    height:50px;
    background: url("../images/icons/right-arrow.png") no-repeat center/47px;
}
.arrows-link-l{
    position: absolute;
    top:50%;
    left:20px;
    transform: translate(0, -50%);
    width: 50px;
    height:50px;
    background: url("../images/icons/left-arrow.png") no-repeat center/47px;
}
.white-box .top-box{
    background-color: #fff;
    color: #000;
}
.white-box .header{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #f5f9fc;
}
.white-box .item-box{
    padding-top: 150px;
    text-align: left;
}
.page-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
.page-title span{
    padding: 5px 100px 5px 0;
    border-bottom: 3px solid #2579bf;
    display: inline-block
}
.white-box .item-box ul{
    margin-top: 40px;

}
.white-box .item-box ul li{
    list-style-image: url("../images/icons/line.png");
    margin: 20px 0;
 }
.info-address{
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    text-align: left;
}
.info-address h2{
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 7px;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .top-box {
        padding: 15px;
    }

    .main-title span {
        padding: 0px 10px 10px 10px;
    }

    .main-slid .slick-prev {
        left: 5px;
    }

    .main-slid .slick-next {
        right: 5px;
    }
    .menu-left{
        padding: 20px;
        width: 100%;
    }
    .footer-bottom {
        bottom: 20px;
        left: 20px;
    }
    .right-hed{
        margin-top: 10px;
    }
    .item-box{
        padding:0 15px;
    }
    .page-title span{
        padding: 10px 0;
        width: 100%;
    }
    .page-big .top-box h1 {
        font-size: 32px;
    }
    .page-big .top-box {
        font-size: 16px;
    }
    .white-box .item-box{
        padding-top: 60px;
    }
    .arrows-link-r{
        right: 10px;
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    .arrows-link-l{
        left:10px;
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
}